@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    @apply bg-gray-100;
}

body {
    overflow-x: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
